@import 'common/variables';
.content {
  //margin-top: 20px;
  padding-top: 120px;
  .entry {
    min-width: 60%;
    min-height: 300px;
    padding: 20px 10px 20px 10px;
    border-radius: 5px;
    //padding: 5%;
    h2 {
      color: $white;
      margin-top: 0px;
    }
    .btn-light-small, .btn-light-big {
      margin-top: 4px;
    }
    .form {
      flex: 1;
      justify-content: space-between;
      .text-input {
        border: none;
        border-radius: 2px;
        margin-top: 0px;
      }
    }
    ul#recordingslist {
      text-align: center;
      list-style: none;
      margin: 0;
      padding: 20px 0 0px 0;
    }
    .hiddenAudioId {
      display: none;
    }
    #log {
      display: none;
    }
  }
}
